<h1  class="page_title">Authors</h1>
<hr>

<% @authors.each do |auth| %>
  <div class="author_div">
    <div class="author_head_div">
      <div><%= auth.name %></div>
      <div><span>-<%= "Blogs: #{auth.blog.count}" %></span></div>
    </div>
    <div>
      <% auth.blog.each do |blog| %>
        <div class="title_div"><%= link_to blog.title, blog %></div>
      <% end %>
    </div>
  </div>
<% end %>